<div class="header">
  <div class="title">{{ page.title }}</div>
  <nav>
    <a href="/"><button>Home</button></a>
    {% for collection in site.collections %}
    {% if collection.label != 'posts' %}
    <div class="dropdown">
      <a href="/{{ collection.label }}"><button>{{ collection.title }}</button></a>
      <div class="dropdown-content">
        {% for post in site.[collection.label] %}
        <!-- {% if post.index %} -->
        <a href="/{{ collection.label }}/{{ post.title }}">{{ post.title }}</a>
        <!-- {% endif %} -->
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <a href="/about"><button>About</button></a>
  </nav>
</div>
