* {
  box-sizing: border-box;
  outline: 0;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #272822;
  background-color: #dcdcdc;
}
a {
  color: inherit;
  text-decoration: none;
}
hr {
  overflow: visible;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}
ul {
  list-style-type: none;
}
/* MIXINS */
.shadow {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.hover-dark {
  border: 2px solid darkred;
  border-bottom: 0;
  border-top: 0;
  background-color: maroon;
}
.text-sm {
  font-size: 12px;
}
.text-lg {
  font-size: 20px;
}
.text-light {
  color: #fffaf0;
}
.text-grey {
  color: #808080;
}
.text-dark {
  color: #272822;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* CLASS */
.flex-r {
  display: flex;
  flex-flow: row;
}
.flex-c {
  display: flex;
  flex-flow: column;
}
.flex-h-center {
  justify-content: center;
}
.flex-h-around {
  justify-content: space-around;
}
.fluid {
  width: 100%;
  height: 100%;
}
.dropdown {
  z-index: 999;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 128px;
  background-color: #272822;
}
.dropdown .dropdown-content a {
  display: block;
  padding: 12px;
}
.dropdown .dropdown-content a:hover {
  border-bottom: 0;
  border-top: 0;
  background-color: maroon;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  flex: 0 0 180px;
  text-align: center;
  color: #fffaf0;
  background-color: #272822;
}
@media (max-device-width: 480px) {
  .header {
    flex: 0 0 128px;
  }
}
.header .title {
  margin: 28px;
  font-size: 48px;
}
@media (max-device-width: 480px) {
  .header .title {
    margin: 24px;
    font-size: 32px;
  }
}
.header nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.header nav button {
  display: inline-block;
  position: relative;
  width: 128px;
  padding: 16px;
  font-size: 20px;
  color: #fffaf0;
  background-color: transparent;
  border: 2px solid transparent;
  border-width: 0 2px;
  cursor: pointer;
}
.header nav button:hover {
  border: 2px solid darkred;
  border-bottom: 0;
  border-top: 0;
  background-color: maroon;
}
.footer {
  flex: 0 0 16px;
  margin: 20px;
  text-align: center;
}
.content {
  width: 50%;
  min-width: 800px;
  padding: 24px 44px;
  flex: 1 1 auto;
  margin: auto;
  background-color: #f5f5f5;
  line-height: 28px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 480px) {
  .content {
    width: 100%;
    min-width: unset;
    padding: 12px;
  }
}
.img-fluid-w {
  width: 100%;
  height: auto;
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.tag {
  margin-right: 24px;
  text-align: right;
}
.date {
  margin-right: 24px;
  font-size: 12px;
  color: #808080;
  text-align: right;
}
.text {
  text-indent: 32px;
  text-align: justify;
}
.text a {
  color: #23d;
}
.text li a {
  margin-right: 5px;
}
.text img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.index {
  padding-inline-start: 0;
}
.index li {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  cursor: pointer;
}
.index li:hover {
  color: #808080;
}
#top {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 480px) {
  #top {
    left: 1149.75;
  }
}
#top:hover {
  background-color: dimgray;
}
